<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <!--<link rel="stylesheet" href="/stylesheets/dropzone/dropzone.css">-->


    <!--<script src="/javascripts/dropzone/dropzone.js"></script>-->
    <script src="/javascripts/jquery/jquery.min.js"></script>
    <script src="/javascripts/popper/popper.min.js"></script>
    <script src="/javascripts/bootstrap/bootstrap.min.js"></script>

    <script src="/javascripts/holder/holder.min.js"></script>
</head>


<body>
    {{>head}}
    {{{body}}}
</body>
</html>
